.globalUi {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1400;
}

.left {
  position: fixed;
  top: 16px;
  left: 16px;
  pointer-events: auto;
}

.right {
  position: fixed;
  top: 16px;
  right: 16px;
  pointer-events: auto;
}

.bottomleft {
  position: fixed;
  bottom: 16px;
  left: 16px;
  pointer-events: auto;
}

.bottommiddle {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-130%);
  width: 600px;
  pointer-events: auto;
}

/* Short screens */
@media (max-height: 999px) {
  .bottommiddle {
    left: auto;
    right: 30px;
    transform: translateX(0%);
  }
}



@media (max-width: 490px) {
  .bottommiddle {
    width: 140vw;
    bottom: 10px;
  }.bottomleft{
        pointer-events: auto;
    position: fixed;
    bottom: 70px;
    left: 16px;
  }

}

.iconBtn {
  background: transparent;
  border: none;
  padding: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.backBtn {
  background: transparent;
}


.audioButton {
  position: fixed;
  top: 24px;
  right: 90px;
  pointer-events: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.audioButton button {
  background: #F8EFD5;
 border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  border: solid 1.5px #41403E;
  padding: 6px;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}