.globalUi {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1400;
}

.left {
  position: fixed;
  top: 16px;
  left: 16px;
  pointer-events: auto;
}

.right {
  position: fixed;
  top: 16px;
  right: 16px;
  pointer-events: auto;
}

.bottomleft {
  position: fixed;
  bottom: 16px;
  left: 16px;
  pointer-events: auto;
}

.bottommiddle {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-130%);
  width: 600px;
  pointer-events: auto;
}

/* Short screens */
@media (max-height: 999px) {
  .bottommiddle {
    left: auto;
    right: 16px;
    transform: translateX(0%);
  }
}



@media (max-width: 490px) {
  .bottommiddle {
    width: 140vw;
    bottom: 10px;
  }.bottomleft{
        pointer-events: auto;
    position: fixed;
    bottom: 70px;
    left: 16px;
  }

}

.iconBtn {
  background: transparent;
  border: none;
  padding: 6px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.backBtn {
  background: transparent;
}